@font-face {
  font-family: 'Exo-Thin';
  src: url('/src/assets/fonts/Exo2.0-Thin.otf') format('otf'),
       url('/src/assets/fonts/Exo2.0-Thin.woff') format('woff'),
       url('/src/assets/fonts/Exo2.0-Thin.ttf') format('ttf');
  font-display: swap;
}