$color-white: #fff;
$color-grey: #666;
$color-black: #000;
$color-raspberry: #d91667;
$color-blue: #1698d9;
$color-yellow: #ff6;

$color-disabled: #b3b3b3;
$color-blue-hovered: #2ea8e6;
$color-raspberry-hovered: #e62e7a;